*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
main{
 max-width: 1047px;
 margin: 0px auto;   
}
/*


------Header-----

 */
 
header{
    
    max-width: 1440px;
    margin: 0px auto;
    
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
nav .logo{
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: #131313;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
    position: relative;
}
.nav-links ul li a{
    color: #424242;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #E02C6D;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}
nav .fa-cart-shopping{
    font-size: 22px;
}
.row{

margin: 100px auto;
display: flex;
justify-content: space-around;
align-items: center;

}
.headerText{
    text-align: left;
    
}
.headerText h1{
    font-size: 52px;
    font-weight: bold;
    color: #3A3A3A;
}
.headerText p{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}
.hero-btn{
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    color: #fff;   
    padding: 5px 20px;
    background: #E02C6D;
    cursor: pointer;
    border-radius: 20px;

}
.hero-btn:hover{
    border: 2px solid #E02C6D;
    background: transparent;
    color: #E02C6D;
}

.headerImg{
    
}
.svg{
    position: relative;
    
}
.svgImg{
    width: 575px;
    height: 575px;
}
.cameraImg img{
    width: 540px;
    height: 508px;
}

.cameraImg{
    position: absolute;
    top: 5px;
    

}   
/*
 Sponser Logo

*/
.brandLogo{
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}
/*
 product
 */
 .productSection{
    margin: 0px auto;
 }
 .products{
    
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    

 }
 .productBox{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: left;
 }
 .productDetails h1{
    font-size: 28;
    font-weight: 500;
    color: #18191F;
    padding: 10px 0;
 }
 .productDetails h2{
    font-size: 24;
    font-weight: 400;
    color: #000000;
    padding-bottom: 10px;

 }
 .productDetails h3{
    font-size: 14;
    font-weight: bold;
    color: #787885;
    width: 250px;
    
    
 }

 .productDetails .fa {
    font-size: 14px;
    color: #FB8200;
 }
 .productDetails .fa-regular{
    font-size: 14px;
    color: #FB8200;
 }
 .pruductReview{
    font-size: 14px;

 }
 .pageChange{
    text-align: right;
    text-decoration: none;
 }
 .pageChange a{
    text-decoration: none;
    color: #E02C6D;
    font-size: 16px;
    font-weight: bold;

 }
 /* --------Feature----- */
 .feature{
    max-width: 1400px;
    margin: 100px auto;
 }
 .featuerContent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 .featureText{
    text-align: left;
    padding: 20px auto;
    
}
.featureText h1{
    font-size: 38px;
    font-weight: bold;
    color: #3A3A3A;
    padding: 20px auto;

}
.featureText p{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
    width: 501px;
}
.footer{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0A0826;
    height: 200px;
}
.footerText{
    text-align: center;
    color:#fff
    
}
.footerText h1{
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
}
.footerText p{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}
.footerText .fa-brands{
    font-size: 20px;
    border-radius: 20px;
    background-color: #22203B;
    padding: 10px;
    
    
}


@media(max-width:768px){
    
    .nav-links ul li{
        display: block;
        
    }
    .nav-links{
        position: absolute;
        background: #E02C6D;
        height: 100vh;
        width: 200px;
        top:0;
        left: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;

    }
    nav .fa{
        display: block;
        color: #131313;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    nav .fa-times{
        margin-top: 10px;
        margin-left: 170px;

    }
    .nav-links ul{
        padding: 20px;
    }
    .nav-links ul li a{
        color: #fff;
    }
    .nav-links ul li a:hover{
        color: #131313;
    }
    nav .logo{
        margin:0 auto;
    }
    .row{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .headerText{
        text-align: center;
        margin:20px auto;
    }
    .headerText h1{
        font-size: 28px;
        
    }
    .headerText p{
        font-size: 14px;
        font-weight: 500;
        color: #3A3A3A;
    }
    .svgImg{
        width: 257px;
        height: 257px;
    }
    .cameraImg img{
        width: 257px;
        height: 257px;
    }
    .brandLogo{
        
        flex-wrap: wrap;
        justify-content: center;
        border-top: 0px solid #bbb;
        border-bottom: 0px solid #bbb;
    
    }
    .logoBox{
        padding: 10px;
    }
    .products{
        
    }
    .pageChange{
        text-align: center;
    }
    .featuerContent{
        flex-direction: column-reverse;
        align-items: center;

    }
    .featureText{
        text-align: center;
        margin:20px auto;
        max-width: 80%;

    }
    .featureText h1{
        font-size: 28px;
        
    }
    .featureText p{
        font-size: 14px;
        font-weight: 500;
        color: #3A3A3A;
        width: 100%;
    }
}
